@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses";
    Course c = Model.FirstOrDefault();
}
<div class="d-flex align-items-center justify-content-between">
    <h1>@ViewData["Title"] Table</h1>
    <a asp-action="Create" class="btn btn-outline-info">Add a Course</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th><label asp-for="@c.Id"></label></th>
            <th><label asp-for="@c.Topic"></label></th>
            <th><label asp-for="@c.Grade"></label></th>
            <th><label>Track Name</label></th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Course course in Model)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Topic</td>
                <td>@course.Grade</td>
                <td>@course.Track.Name</td>
                <td><a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@course.Id">Details</a> </td>
                <td><a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@course.Id">Edit</a></td>
                <td>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@course.Id"
                       onclick="return confirm('Are you sure you want to delete this Course?')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

